/*------------------------------------*\
  ELEMENTS > PAGE
\*------------------------------------*/

p {
    font-size: $font-size-medium;
    line-height: $line-height-headings;
    font-family: $SecondaryFont;
    color: $color-neutrals-grey1;
    margin: 0 0 15px;
    &.xl-text {
        font-size: $font-size-large;
    }
    &.small-text {
        font-size: $font-size-small;
    }
    &.medium-text {
        font-size: 18px;
    }
    &.primary-font {
        font-family: $PrimaryFont;
    }
}

b, .bold {
    font-weight: bold;
}

label, .label{
    font-family: $SecondaryFont;
    font-weight: $font-weight-light;
    font-size: $font-size-medium;
    line-height: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
}
