/*/*------------------------------------*\
  UTILITIES > TEXT
\*------------------------------------*/


.u-text-smaller {
    font-size: 14px;
}

.u-text-upper {
    text-transform: uppercase;
}

.u-text-right {
    text-align: right !important;
}

.u-text-center {
    text-align: center !important;
}

