/*------------------------------------*\
  SETTINGS > BREAKPOINTS-VARIABLES
\*------------------------------------*/

$bp-laptop-large: 1600px;
$bp-laptop: 1440px;
$bp-tablet-lg-landscape: 1280px;
$bp-tablet-lg-portrait: 1199px;
$bp-tablet-landscape: 1024px;
$bp-tablet-portrait: 991px;
$bp-mobile-landscape: 767px;
$bp-mobile-portrait: 525px;
