/*------------------------------------*\
  SETTINGS > COLOR-VARIABLES
\*------------------------------------*/

/* General */
$black: #000000;
$white: #ffffff;

/* Primary */
$color-primary-rust: #8C4332;
$color-primary-ocean: #587785;
$color-primary-forest: #6B735B;
$color-primary-sandDune: #D99459;

/* Secondary */
$color-secondary-deepBlue: #405072;
$color-secondary-darkBlue: #454F63;
$color-secondary-cove: #D8B6B4;

/* Neutral */
$color-neutrals-dark: #21201E;
$color-neutrals-grey1: #45423D;
$color-neutrals-grey2: #787266;
$color-neutrals-grey3: #ADA399;
$color-neutrals-grey4: #F2EDEA;
$color-neutrals-grey5: #F7F4F2;

/* Others */
$creamBG: #F4F0ED;
$offWhite: #F9F6F5;
$tonewhite: #FBFBFB;

/* Gradient */
$color-gradient: linear-gradient(180deg, $white 0%, $color-neutrals-grey4 78.06%);